{% extends 'base.html' %}
{%load static%}

    {% block headTag %}
    <title>minifyURL Home</title>
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    {%endblock%}
    {% block content %}
    <div class="sortURLBlock">
        <h1 style="color: white;">Enter a URL below and get started</h1>
        <form method="post">

            {%csrf_token%}
            <div class="shortenForm">
                <input type="url" name="url" id="urlInput" value="http://" placeholder="url here">
                <input type="submit" id="submitURL" value="Go">
            </div>
            <input type="{%if user.is_authenticated%}text{%else%}hidden{%endif%}" placeholder="URL Alias (optional)" value="" id="aliasInput" name="alias">
        </form>
        <div></div>

        {%if url%}
        <div id="shorturl">
            <span>{{url}}</span> <img src="{%static 'images/copy-text.svg'%}" alt="copy" width="15" onclick="cpyURL()">          
        </div>

        <script>
            function cpyURL(){
                navigator.clipboard.writeText('{{url}}')
                alert('URL copied')
            }
        </script>
        {%endif%}

    </div>
    <section class="homeBody">
        <div class="cardsrow">
            <div class="card">
                <h2>Shorten your long URLS</h2>
            </div>
            <div class="card">
                <h2>Keep a track of your traffic</h2>
            </div>
            <div class="card">
                <h2>Grow your digital presence</h2>
            </div>
        </div>
        <div class="cta-block">
            {%if user.is_authenticated%}
            <a href="/account/dashboard"><div class="button">Go to dashboard</div></a>
            {%else%}
            <a href="/account/login"><div class="button">Login</div></a>
            <a href="/account/register"><div class="button">Register</div></a>

            {%endif%}
        </div>
    </section>    
    
    {%endblock%}